{% load staticfiles %}

{% if not request.resolver_match.url_name == 'choose_profile_for_fundraiser' %}
<div class="shopping-cart-header row">
    <div class="col-md-3 {% if request.resolver_match.url_name == 'describe_fundraiser' %}active{% endif %}" id='describe'>

        <a >
        <!-- <a href="{% url 'describe_fundraiser' %}"> -->
            <i class="fa fa-bullhorn">
            </i>
        <p>Describe</p>
        </a>
    </div>

    <div class="col-md-3 {% if request.resolver_match.url_name == 'choose_fundraiser' or request.resolver_match.url_name == 'chosen_fundraiser_type'  %}active{% endif %}" id='choose'>
        <a>
        <!-- <a href="{% url 'choose_fundraiser' %}"> -->
            <i class="fa fa-heart"></i>
            <p>Options</p>
        </a>
    </div>
    <div class="col-md-3 {% if request.resolver_match.url_name == 'create_shipment' %}active{% endif %}" id='shipment'>
        <a >
        <!-- <a href="{% url 'create_shipment' %}"> -->
            <i class="fa fa-bus"></i>
            <p>Shipment</p>
        </a>
    </div>
    <div class="col-md-3 {% if request.resolver_match.url_name == 'checkout' or request.resolver_match.url_name == 'process_checkout' %}active{% endif %}">
        {% if ready_to_checkout %}
        <a >
        <!-- <a href="{% url 'checkout' %}"> -->
            <i class="fa fa-money"></i>
            <p>Checkout</p>
        </a>
        {% else %}
            <i class="fa fa-money"></i>
            <p>Checkout</p>
        {% endif %}
    </div>
</div>
{% endif %}
