<section>
			<h1>Tell us about your fundraiser</h1>
      <form method="POST" action="{% url 'describe_fundraiser' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        
        <div class="form-group">
          {{ form.title.errors }}
          <label for="exampleInputEmail1">Fundraiser Title:</label>
          {{ form.title }}
        </div>			  

        <div class="form-group">
          {{ form.organization.errors }}
			    <label for="exampleInputEmail1">Organization Name:</label>
			    {{ form.organization }}
			  </div>

			  <div class="form-group">
          {{ form.description.errors }}
			    <label for="exampleInputEmail1">Tell Us a little About Your Fundraiser:</label>
			    {{ form.description }}
			  </div>

        <div class="form-group">
          {{ form.org_photo.errors }}
          <label for="orgPhoto">Add an optional Organization Photo:</label>
          {{ form.org_photo }}
        </div>
       
			<!-- SHOPPING CART FOOTER -->
      <div class="shopping-cart-footer">
          <div class="row">
              <div class="col-md-3">
                  
                  <button type='submit' class="btn btn-danger btn-lg btn-block">Continue</button>
                  
              </div>
              
          </div>
      </div>
      </form>
     <!-- end shopping cart footer -->      
    </section>    