<!-- ==========================
    	PORTFOLIO POST - START 
    =========================== -->
    <section class="content bg-color-2" id="portfolio">
            
    		<!-- BLOG POST -->
            <div class="blog-post">
                <div class="blog-post-detail">
                    <span><i class="fa fa-calendar"></i>{{ current_shipment }}created: {{ current_shipment.created }}</span>
                    
                </div>
                <div class="blog-post-body">

                    <h1 class='jmi-large-header'>Current Shipment <a href="{% url 'edit_shipment' current_shipment.id %}" style='font-weight: 300;'>(Edit Shipment)</a></h1> 
                    {{ current_shipment.fundraiser.profile.organization }}<br>
                    {{ current_shipment.address.street }}<br>
                    {{ current_shipment.address.city }}<br>
                    {{ current_shipment.address.state }},{{ current_shipment.address.zip_code }}<br>
                    

                    <h3><a href="{% url 'checkout' %}"><button class='btn btn-danger btn-lg'>Continue</button></a></h3>
                    
                       
                    </div>
                </div>
            </div> 
            
        
    </section>
    <!-- ==========================
    	PORTFOLIO POST - END 
    =========================== --> 