<!-- ==========================
    	PORTFOLIO POST - START 
    =========================== -->
    <section class="content bg-color-2" id="portfolio">
            
    		<!-- BLOG POST -->
            <div class="blog-post">
                <div class="blog-post-detail">
                    <span><i class="fa fa-calendar"></i>{{ current_shipment }}created: {{ current_shipment.created }}</span>
                    
                </div>
                <div class="blog-post-body">
                    <h3>Current Shipment <a href="{% url 'edit_shipment' current_shipment.id %}" style='font-weight: 300;'>(Edit Shipment)</a></h3> 
                    <p>{{ current_shipment.fundraiser.profile.organization }}</p>
                    <p>{{ current_shipment.address.street }}</p>
                    <p>{{ current_shipment.address.city }}</p>
                    <p>{{ current_shipment.address.state }}</p>
                    <p>{{ current_shipment.address.zip_code }}</p>

                    <h3><a href="{% url 'get_back_on_track' %}">Continue</a></h3>
                    
                       
                    </div>
                </div>
            </div> 
            
        
    </section>
    <!-- ==========================
    	PORTFOLIO POST - END 
    =========================== --> 