{% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
  
    <!-- Custom styles for this template-->
    <link href="{% static 'assets/css/sections-frmwrk-styles.css' %}" rel="stylesheet"> 
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jmi-custom.css' %}">
    
    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway|Slabo+27px' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->