{% load staticfiles %}
<footer>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h3><i class="fa fa-flag"></i>Contact Us</h3>
                    
                    <ul class="list-unstyled contact-address">
                      <i>Jose Madrid Salsa <br>
                      P.O. Box 1061 <br>
                      Zanesville, OH 43702</i>
                        <li><a>fundraising@josemadridsalsa.com</a></li>
                        <li><i class="fa fa-phone"></i> (740) 521-4304</li>
                    </ul>
                    <ul class="brands brands-inline brands-sm brands-transition brands-circle">
                      <li><a href="https://www.facebook.com/josemadridsalsainc" class="brands-facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/josemadridsalsa" class="brands-twitter"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
                
                <div class="col-md-4 hidden-xs hidden-sm">
                  <h3><i class="fa fa-camera"></i><a href="{% url 'show_all_salsas' %}">Check our Salsas Out!</a></h3>
                    <div class="row" id="latest-work-footer">

                        <div class="overlay-wrapper col-sm-6">
                            <img src="https://cdn.josemadridsalsafundraising.com/media/product_images/clovis_mild_iouzeLB.jpeg" class="img-responsive" alt="">
                            <span class="overlay">
                                <a href="{% url 'show_all_salsas' %}"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                        <div class="overlay-wrapper col-sm-6">
                            <img src="https://cdn.josemadridsalsafundraising.com/media/product_images/verde_hot_zWloeWN.jpeg" class="img-responsive" alt="">
                            <span class="overlay">
                                <a href="{% url 'show_all_salsas' %}"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                        <div class="overlay-wrapper col-sm-6">
                            <img src="https://cdn.josemadridsalsafundraising.com/media/product_images/roasted_pineapple_habenero_rRBrMZ9.jpeg" class="img-responsive" alt="">
                            <span class="overlay">
                                <a href="{% url 'show_all_salsas' %}"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                        <div class="overlay-wrapper col-sm-6">
                            <img src="https://cdn.josemadridsalsafundraising.com/media/product_images/chipotle-hot_wPCibYj.jpeg" class="img-responsive" alt="">
                            <span class="overlay">
                                <a href="{% url 'show_all_salsas' %}"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>                        
                    </div>
                </div>
                
                <div class="col-md-4 hidden-xs hidden-sm">
                  <h3><i class="fa fa-envelope"></i>Some communication</h3>
                    <p class="contact-text">Add you email to our infrequent newsletters list. If we have something good to say you'll be the first to know.</p>
                    <form method="POST" action="{% url 'add_email_to_newsletter_list' %}">
                        {% csrf_token %}
                      <fieldset>
                          <div class="form-group nospace">
                              <div class="input-group">
                                    {{ newsletter.errors }}
                                    {{ newsletter_form.email }}
                                    <span class="input-group-btn"><button class="btn btn-primary" type="submit">Submit</button></span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-copyright">
                    <p>© Jose Madrid Salsa Inc. 2014 All right reserved.</p>
                </div>
        
                <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                    <li><a href="{% url 'describe_fundraiser' %}"><button class="btn btn-primary">Create Fundraiser</button></a></li>
                </ul>
            </div>
        </div>
    </footer>