{% load staticfiles %}
<div class="row">
<div class="col-md-10 col-md-offset-1">
  <h1 style='margin-bottom: 40px; margin-top: 55px;' class='jmi-introduction-med text-center'><div class='jmi-red'>Checkout</div> <div class='jmi-black'>Online</div></h1>
<section class="content bg-color-2" id="section-features" style='border-radius: 10px;'>
          

            <div class="row">
              
              <div class="col-sm-6 col-md-3">
                  <div class="feature">
                      <i class="fa fa-bullhorn"></i>
                        <h3>Tell us about your Fundraiser</h3>
                        <p style='padding-left: 5px;'>Whats your organization called? What do you want to do? </p>
                    </div>
                </div>
                
              <div class="col-sm-6 col-md-3">
                  <div class="feature">
                      <i class="fa fa-heart"></i>
                        <h3>Choose Salsas</h3>
                        <p>Pick from 3, Pick from 8, pick from 23...</p>
                    </div>
                </div>
                
              <div class="col-sm-6 col-md-3">
                  <div class="feature">
                      <i class="fa fa-check"></i>
                        <h3>Tell us where to Ship and review</h3>
                        <p>Anywhere in the world...</p>
                    </div>
                </div>
                
             <div class="col-sm-6 col-md-3">
                  <div class="feature">
                      <i class="fa fa-money"></i>
                        <h3>Checkout Online</h3>
                        <p style='padding-right: 15px;'>Pay by card, pay by check. No problems...</p>
                    </div>
                </div>
              
        
    </section>

     <div style='margin-top: 15px;' class='text-center'>
        {% if user.is_authenticated %}
        {% if session.has_order_steps%}
          <a class="btn btn-lg btn-primary" href="{% url 'describe_fundraiser' %}">Lets Get Started</a> or 

        {% else %}
          <a class="btn btn-lg btn-primary"href="{% url 'choose_profile_for_fundraiser' %}">Lets Get Started</a>
        {% endif %}
        
      {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'describe_fundraiser' %}">Lets Get Started</a>
      {% endif %}

     </div>
</div>
</div>  