{% load staticfiles %}
<section class="content bg-color-2" id="section-features">
      <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                  <div class="feature">
                      <i class="fa fa-plus-circle"></i>
                        <h3>Create Fundraiser</h3>
                        <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque.</p>
                    </div>
                </div>
                
              <div class="col-sm-6 col-md-3">
                  <div class="feature">
                      <i class="fa fa-thumbs-o-up"></i>
                        <h3>Choose Up to 23 Salsas</h3>
                        <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque.</p>
                    </div>
                </div>
                
              <div class="col-sm-6 col-md-3">
                  <div class="feature">
                      <i class="fa fa-heart"></i>
                        <h3>Where to Ship</h3>
                        <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque.</p>
                    </div>
                </div>
                
             <div class="col-sm-6 col-md-3">
                  <div class="feature">
                      <i class="fa fa-money"></i>
                        <h3>Checkout Online</h3>
                        <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque.</p>
                    </div>
                </div>
                
        </div>
    </section>