{% load staticfiles %}
<section class="content" id="pricing">
      <div class="container">
          <h2>Fundraising Options</h2>
            <div class="row">
              
                <!-- Pricing plan -->
              <div class="col-sm-4">
                  <div class="pricing-plan">
                        <h3>Option 1</h3>
                        <div class="pricing-plan-price">
                          <span class="pricing-plan-small">$</span>
                          <span class="pricing-plan-number">29</span>
                            <span class="pricing-plan-small">.99</span>
                            <span class="pricing-plan-text">per month</span>
                        </div>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-save"></i><b>100 GB</b> Storage</li>
                            <li><i class="fa fa-signal"></i><b>Unlimited</b> Traffic</li>
                            <li><i class="fa fa-flash"></i><b>Unlimited</b> Bandwidth</li>
                            <li><i class="fa fa-check"></i>Custom Domain</li>
                            <li><i class="fa fa-user"></i>24/7 Support</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-primary">Sign Up</a>
                    </div>
                </div>
                
                <!-- Pricing plan -->
              <div class="col-sm-4">
                  <div class="pricing-plan popular">
                        <h3>Option 2</h3>
                        <p>Most Popular</p>
                        <div class="pricing-plan-price">
                          <span class="pricing-plan-small">$</span>
                          <span class="pricing-plan-number">29</span>
                            <span class="pricing-plan-small">.99</span>
                            <span class="pricing-plan-text">per month</span>
                        </div>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-save"></i><b>100 GB</b> Storage</li>
                            <li><i class="fa fa-signal"></i><b>Unlimited</b> Traffic</li>
                            <li><i class="fa fa-flash"></i><b>Unlimited</b> Bandwidth</li>
                            <li><i class="fa fa-check"></i>Custom Domain</li>
                            <li><i class="fa fa-user"></i>24/7 Support</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-primary">Sign Up</a>
                    </div>
                </div>
                
                <!-- Pricing plan -->
              <div class="col-sm-4">
                  <div class="pricing-plan">
                        <h3>Option 3</h3>
                        <div class="pricing-plan-price">
                          <span class="pricing-plan-small">$</span>
                          <span class="pricing-plan-number">29</span>
                            <span class="pricing-plan-small">.99</span>
                            <span class="pricing-plan-text">per month</span>
                        </div>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-save"></i><b>100 GB</b> Storage</li>
                            <li><i class="fa fa-signal"></i><b>Unlimited</b> Traffic</li>
                            <li><i class="fa fa-flash"></i><b>Unlimited</b> Bandwidth</li>
                            <li><i class="fa fa-check"></i>Custom Domain</li>
                            <li><i class="fa fa-user"></i>24/7 Support</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-primary">Sign Up</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>