{% load staticfiles %}
<section class="content bg-color-2" id="section-features">
      <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                  <div class="feature">
                      <i class="fa fa-mobile"></i>
                        <h3>Mobile Friendly</h3>
                        <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque.</p>
                    </div>
                </div>
                
              <div class="col-sm-6 col-md-4">
                  <div class="feature">
                      <i class="fa fa-pencil"></i>
                        <h3>Easy to customize</h3>
                        <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque.</p>
                    </div>
                </div>
                
              <div class="col-sm-6 col-md-4">
                  <div class="feature">
                      <i class="fa fa-trophy"></i>
                        <h3>First class design</h3>
                        <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque.</p>
                    </div>
                </div>
                
             
        </div>
    </section>