{% load staticfiles %}

<div class="top-header hidden-xs hidden-sm">
      <div class="container">
          <div class="pull-left">
              <div class="header-item"><i class="fa fa-envelope"></i> mike@josemadridsalsa.com</div>
                <div class="header-item"><i class="fa fa-phone"></i> 614-208-9982</div>
            </div>
            <div class="pull-right">
              <ul class="brands brands-inline brands-tn brands-circle main">
                  <li><a href="https://twitter.com/josemadridsalsa"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/josemadridsalsainc"><i class="fa fa-facebook"></i></a></li>
                </ul>

                <div class="header-item">
                  {% if user.is_authenticated %}
                  <a href="{% url 'auth_logout' %}" class="pull-right">
                    <i class="fa fa-user"></i>Logout
                  </a>
                  {% else %}
                  <a href="{% url 'auth_login' %}" class="pull-right">
                    <i class="fa fa-user"></i>Login
                  </a>
                  {% endif %}
                </div>

            </div>
        </div>
    </div>
    
  <header class="navbar yamm navbar-default navbar-static-top">
      <div class="container">
            <div class="navbar-header" style="width: 500px; !important">
                <a href="{% url 'home' %}" class="navbar-brand"><img class="jmi-logo" src="{% static 'jmi-images/logo.png' %}" alt=""></a>
                  
                  <h1><a class='jmi-large-header' href="">Jose Madrid Salsa Fundraising</a></h1>
                  
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav navbar-main-menu">
                    <!-- <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                          <li><a href="index.html"><i class="fa fa-angle-double-right"></i>Default Option</a></li>
                            <li><a href="index-image.html"><i class="fa fa-angle-double-right"></i>Option 1 (Static Image)</a></li>
                            <li><a href="index-text.html"><i class="fa fa-angle-double-right"></i>Option 2 (Text Only)</a></li>
                            <li><a href="index-application.html"><i class="fa fa-angle-double-right"></i>Application<span class="label label-warning">updated</span></a></li>
                            <li><a href="index-product.html"><i class="fa fa-angle-double-right"></i>Product<span class="label label-warning">updated</span></a></li>
                            <li><a href="index-eshop.html"><i class="fa fa-angle-double-right"></i>Eshop<span class="label label-warning">updated</span></a></li>
                            <li><a href="index-coming-soon.html"><i class="fa fa-angle-double-right"></i>Coming Soon<span class="label label-warning">updated</span></a></li>
                            <li><a href="index-search.html"><i class="fa fa-angle-double-right"></i>Search</a></li>
                            <li><a href="index-portfolio.html"><i class="fa fa-angle-double-right"></i>Portfolio</a></li>
                            <li><a href="index-event.html"><i class="fa fa-angle-double-right"></i>Event<span class="label label-danger">new</span></a></li>
                        </ul>
                    </li>
                     -->
                    <li>
                        {% if user.is_authenticated %}
                          {% if session.has_order_steps%}
                            <a href="{% url 'describe_fundraiser' %}">Create Fundraiser</a>
                          {% else %}
                            <a href="{% url 'choose_profile_for_fundraiser' %}">Create Fundraiser</a>
                          {% endif %}
                          
                        {% else %}
                          <a class='hidden-xs hidden-sm'href="{% url 'describe_fundraiser' %}">Create Fundraiser</a>
                          <div class='hidden-lg hidden-md'>
                          <div style='float: left;'><i class="fa fa-square"></i></div>
                          <div style='padding-left: 20px;'><a href="{% url 'describe_fundraiser' %}">Create Fundraiser</a></div>
                          </div>
                        {% endif %}
                        
                    </li>
                    <li ><a href="{% url 'show_all_salsas' %}">Salsas</a></li>
                    <div class='hidden-lg hidden-md'>
                          <div style='float: left;'><i class="fa fa-square"></i></div>
                          <div style='padding-left: 20px;'>
                            <li ><a href="{% url 'show_all_salsas' %}">Salsas</a></li>
                          </div>
                          </div>
                    
                
                {% if user.is_authenticated %}
                 <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                          
                          <li><a href="{% url 'profile_show' %}"><i class="fa fa-angle-double-right"></i>Profile</a>  </li>  
                          
                          <li><a href="{% url 'start_process' %}"><i class="fa fa-angle-double-right"></i>Create new Fundraiser</a>  
                          </li>

                           <li><a href="{% url 'auth_logout' %}"><i class="fa fa-angle-double-right"></i>Logout </a>  
                          </li>



                        </ul>
                    </li>
                
                {% endif %}
                <ul class="nav navbar-nav hidden-xs hidden-sm" style='margin-left: 25px;'>
                    <li class="dropdown shopping-cart-toggle">
                        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i><span class="shopping-cart-counter">5</span></a> -->
                        <ul class="dropdown-menu navbar-shopping-cart">
                          <li>
                              <div class="row">
                                  <div class="col-md-1">
                                      <a href="#" class="delete"><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="col-md-8">
                                      <a href="productdetail.html"><h3>Product Title</h3></a>
                                    </div>
                                    <div class="col-md-1">
                                      <p>2x</p>
                                    </div>
                                    <div class="col-md-2">
                                      <p class="price">$123</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                              <div class="row">
                                  <div class="col-md-1">
                                      <a href="#" class="delete"><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="col-md-8">
                                      <a href="productdetail.html"><h3>Product Title</h3></a>
                                    </div>
                                    <div class="col-md-1">
                                      <p>2x</p>
                                    </div>
                                    <div class="col-md-2">
                                      <p class="price">$123</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                              <div class="row">
                                  <div class="col-md-1">
                                      <a href="#" class="delete"><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="col-md-8">
                                      <a href="productdetail.html"><h3>Product Title</h3></a>
                                    </div>
                                    <div class="col-md-1">
                                      <p>2x</p>
                                    </div>
                                    <div class="col-md-2">
                                      <p class="price">$123</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                              <div class="row">
                                  <div class="col-md-10">
                                      <p>Total price:</p>
                                    </div>
                                    <div class="col-md-2">
                                      <p class="price">$369</p>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                      <a href="#" class="btn btn-info btn-block">Clear Cart</a>
                                    </div>
                                    <div class="col-md-6">
                                      <a href="shoppingcart.html" class="btn btn-danger btn-block btn-checkout">Checkout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="dropdown search-form-toggle">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                        <ul class="dropdown-menu navbar-search-form">
                          <li>
                              <form method="POST" action="{% url 'search_salsas' %}">
                                {% csrf_token %}
                                    <fieldset>
                                        <div class="form-group nospace">
                                            <div class="input-group">
                                                {{ search_form.keywords }}
                                                <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>