{% load staticfiles %}
<div class="row">
<div class="col-md-10 col-md-offset-1">
<section class="content"id="section-introduction">
      
            <h1 class='jmi-introduction-med'><div class="jmi-red">Thanks from Jose (mike) </div></h1>
            <img src="{% static 'jmi-images/mzzaks.png' %}" height='200' width='250' class='text-center mz-zaks'>
            <p><b><i class="jmi-viv-1">Thanks for fundraising with Jose!</i></b> Our process is pretty simple. Just tell us a little about your fundraiser, select one of our salsa combinations, and we'll have your organization fundraising with jose in 5 business days.</p>

          
           
            
    </section>

</div>
</div>

<div style='margin-bottom: 50px !important;'></div>