{% load staticfiles %}

<!-- <script src="https://code.jquery.com/jquery-latest.min.js"></script> -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/creative-brands.js' %}"></script>
<script src="{% static 'js/color-switcher.js' %}"></script>
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/alertify.min.js' %}"></script>

<!-- riot js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.3.15/riot+compiler.min.js"></script>
<script type='riot/tag' src="{% static 'riot-tags/forms/download-button.tag' %}"></script>

<script type="text/javascript">
  token = Cookies.get('csrftoken')
  riot.mount('download-button',{token:token})
</script>