{% load staticfiles %}

<!-- <script src="https://code.jquery.com/jquery-latest.min.js"></script> -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/creative-brands.js' %}"></script>
<script src="{% static 'js/color-switcher.js' %}"></script>
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/alertify.min.js' %}"></script>

