{% load staticfiles %}

<section class="content bg-color-2 portfolio-col-4 portfolio-nospaces" id="portfolio" style="padding:0">
      <div class="container3">
            
            <div class="row portfolio-wrapper-nospaces">
                {% for product in featured_products %}
                <!-- PORTFOLIO ITEM -->
                <div class="col-md-3 col-xs-3 portfolio-item">
                  <article>
                        <div class="overlay-wrapper">
                            <a href="{% url 'show_all_salsas' %}"><img height='400' width='250' src="{{ product.get_absolute_url }}" class="img-responsive" alt=""></a>
                            
                        </div>
                    </article>
                </div>
                {% endfor %}
                  
            </div>
        </div>
    </section>