{% load staticfiles %}

<section class="content bg-color-2 portfolio-col-4 portfolio-nospaces" id="portfolio" style="padding:0">
      <div class="container3">
            
            <div class="row portfolio-wrapper-nospaces">
                {% for product in featured_products %}
                <!-- PORTFOLIO ITEM -->
                <div class="col-md-3 portfolio-item">
                  <article>
                        <div class="overlay-wrapper">
                            <img height='400' width='250' src="{{ product.get_absolute_url }}" class="img-responsive" alt="">
                            <span class="overlay">
                              <span class="overlay-title">{{ product.title }}</span>
                                <a href="{% url 'show_all_salsas' %}"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                    </article>
                </div>
                {% endfor %}
                  
            </div>
        </div>
    </section>