	{% load staticfiles %}
    <!-- ==========================
    	INTRODUCTION - START 
    =========================== -->
    <section style='margin-top: 20px; margin-bottom: 25px;'>
    	<div>
      	<div class="row">
      		<div class="col-md-10 col-md-offset-1">
	      		<div class="col-md-4 text-center jmi-introduction"><a class='jmi-hover' href="">Fundraise</a></div>
	      		<div class="col-md-4 text-center jmi-introduction-small">with</div>
	      		<div class="col-md-4 text-center">
	      			<a href="{% url 'describe_fundraiser' %}"><img height='82' width='82' src="{% static 'jmi-images/logo.png' %}" class="jmi-img-hover img-circle"></a>
	      		</div>
      		</div>
      	</div>
      </div>
      <hr>
    </section>
    <!-- ==========================
    	INTRODUCTION - END 
    =========================== -->
    