{% extends 'base.html' %}
{% load staticfiles %}

{% block plans %}

    <section class="content services3" id="services">
            
            <div class="row">
                <!-- Service -->

                <div class="col-md-4 col-md-offset-1 col-sm-6" style='border: 1px solid #D5D5D5;'>
                    <div class="service">
                        <img style='margin-bottom: 20px;' class='img-circle' src="{{ plan.get_absolute_url }}">
                        <div class="service-body" style='margin-bottom: 15px;'>
                             <h2 style='color: black;'>{{ plan.name }}</h2>
                            <h3><label>{{ plan.type }}</label></h3>
                            
                            <p class='text-left'>{{ plan.description }}</p>
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-1 hidden-sm hidden-xs">
                    <div class="row"><h3 style="padding-left: 10px; margin-top: 100px;">Options</h3></div>
                    <h1 style='' class='text-center'><i class='fa fa-arrow-right'></i></h1>
                    {% if plan.options.count > 1 %}
                    <div style='height: 1200px;' class='hidden-xs hidden-sm'></div>
                    {% endif %}
                </div>
                
                <h1 style='color: black; font-weight: 700;' class='text-center hidden-lg hidden-md'>options</h1>
                
                <!-- row 2 -->
                <div class="row">
                {% for option in plan.get_ordered_options %}
                    <div class="col-md-5 col-sm-2 " style='border: 1px solid #D5D5D5; margin-bottom: 15px;'>
                        <div class="service">
                            {% if plan.show_top_sellers %}

                            <div class="row hidden-xs hidden-sm"><p style='font-size: 15px;margin-right: 5px; margin-bottom: 30px; color: #B81117; font-style: italic; float: right;'>* best sellers highlighted in red</p></div>

                            <div class="row hidden-md hidden-lg"><p style='font-size: 15px;margin-right: 35px; margin-bottom:  15px; color: #B81117; font-style: italic; float: right;'>* best sellers highlighted in red</p></div>
                            {% endif %}

                            <img class='img-circle' src="{{ plan.get_absolute_url }}" height='50' width='50'>
                            
                            <h3 style='margin-bottom: 35px;'>{{ option.title }}</h3>
                            
                            <div class="row">
                            {% for sel in option.selections.all %}
                                <div class="col-md-3 col-xs-4">
                                <div class="row">

                                   {% if plan.show_top_sellers %}
                                   <img class='jmi-slight-hover' id='salsaImage' name='{{ sel.id }}' data-target='#myModal' data-toggle='modal'  style='{% if sel.best_seller %}border: 1px solid #B81117;{% endif %}' height='70' width='125' src="{{ sel.get_absolute_url }}">
                                   {% else %}
                                   <img class='jmi-slight-hover' id='salsaImage' name='{{ sel.id }}' data-target='#myModal' data-toggle='modal' height='70' width='125' src="{{ sel.get_absolute_url }}">
                                   {% endif %}

                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                                      <div class="modal-dialog" role="document">

                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                             <img style='margin-bottom: 5px;' class='img-circle' src="{% static 'jmi-images/logo.png' %}" height='50' width='50'>
                                            <h4 class="modal-title jmi-header" id="myModalLabel">Jose Madrid Salsa Fundraising</h4>
                                          </div>
                                          <div class="modal-body">
                                            
                                            <!-- ESHOP PRODUCT -->
                                            <div class="eshop-product">
                                                <div class="row">
                                                   
                                                    <div class="col-lg-8 col-lg-offset-2">
                                                        <div class="eshop-product-body">
                                                            <img style='padding-top: 5px;'id='prodImage' class='img-thumbnail' height='170' width='270' src="" class="img-thumbnail img-responsive" alt="">
                                                            <div class="text-center">
                                                                <h1 id='prodTitle'></h1>
                                                                <h3><label id='prodCat'></label></h3>
                                                                <p style='padding-bottom: 25px;' id='prodDesc' class='text-left'></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END ESHOP -->
                                          </div>
                                            
                                        </div>

                                      </div>

                                    </div>


                                </div>  
                                </div>
                            {% endfor %}

                          </div>
                            
                            <div style='margin-top: 55px;'>
                                <download-button type="{{ option.id }}"></download-button>
                                {% if user.is_authenticated %}
                                <a style='color: black;' class='btn btn-md btn-warning' href="{% url 'choose_profile_for_fundraiser' %}">Checkout Online</a>
                                {% else %}
                                <a style='color: black;' class='btn btn-md btn-warning' href="{% url 'describe_fundraiser' %}">Checkout Online</a>
                                {% endif %}
                            </div>

                        </div>

                    </div>
                {% endfor %}

                </div>

            </div>
    </section>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    $(this).click(function(d){
        var id = d.target.id;
        if (id == 'salsaImage'){
            var name = d.target.name
            var productEndPoint = "https://www.josemadridsalsafundraising.com/api/product/" + name;

            $.ajax({
                  type: "GET",
                  url: productEndPoint ,
                  dataType: 'json',
                  success: function(data){
                    $('#prodTitle').html(data.title);
                    $('#prodDesc').html(data.description);
                    $('#prodCat').html("Category: "+data.category[0]);
                    $('#prodImage').attr('src',data.image);
                  },
            });

        }
    })

</script>


{% endblock %}