{% extends 'base.html' %}
{% load staticfiles %}
{% block login %}
<!-- ==========================
    	FORMS - START 
    =========================== -->
	<section class="content-full bg-color-2">
    	{% if errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Errors</strong> Please try logging in again.
            </div>
    	{% endif %}

 
    	<div class="container">

        	<div class="forms-only">
        		{% if user.is_authenticated %}
                <h2>You are already logged in!</h2>
                <a href="{% url 'home' %}"><button class='btn btn-primary'>Return Home</button></a>
                {% else %}
                <form method="POST" method="{% url 'auth_login' %}">
                    {% csrf_token %}
                    <fieldset>
                        <h2>Sign in</h2>
    
                        <div class="row">
                            <div class="form-group col-sm-12">
                                {{ login_form.email.errors }}
                                <label for="email">Your Username:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    {{ login_form.username }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-12">
                                {{ login_form.password.errors }}
                                <label for="password">Your password:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    {{ login_form.password }}
                                </div>
                            </div>
                        </div>
                                              
                        <div class="pull-left">
                            <button type="submit" id="send" class="btn btn-primary"><i class="fa fa-check"></i>Confirm</button>
                        </div>
                        
                        <div class="pull-right">
                       		<a href="#" id="reset-password-toggle">Did you forget your password?</a>
                        </div>

                    
                    </fieldset>
                    <hr>

                    <h3 class='text-center'>Dont have an account? <a href="{% url 'auth_create_account' %}">Sign Up</a></h3>
                </form>
                
                <form id="reset-password">
                    <fieldset>
                    	<h3>Did you forget your password?</h3>
                        
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="email2">Your email:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                  	<input type="email" class="form-control " placeholder="Your email:" id="email2" required>
                                </div>
                            </div>
                        </div>
                                              
                        <div class="pull-left">
                            <button type="submit" id="send2" class="btn btn-primary"><i class="fa fa-check"></i>Reset Password</button>
                        </div>
                        
                    </fieldset>
                    
                </form>
            {% endif %}

            </div>
        </div>

    </section>    
    <!-- ==========================
    	FORMS - END 
    =========================== -->
{% endblock %}