{% extends 'base.html' %}
{% load staticfiles %}

{% block sign_up %}
<!-- ==========================
    	FORMS - START 
    =========================== -->
	<section class="content-full bg-color-2">
    	
    	<div class="container">
        	<div class="forms-only">
        		
                <form method="POST" action="{% url 'auth_create_account' %}">
                    {% csrf_token %}

                    <fieldset>
                    	<h2>Create New Account</h2>
                        <p>Already have an account? Then you can <a href="{% url 'auth_login' %}">sign in</a> with your existing username and password.</p>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                {{ register_form.errors.organization }}
                                <label for="name">Organization:<span></span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    {{ register_form.organization }}
                                </div>
                            </div>                               
                        </div>
                        <div class="form-group">
                            <div class="row">
                                
                                    <div class="col-md-6">
                                        {{ register_form.errors.first_name }}
                                        <label for="name">First Name:<span>*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            {{ register_form.first_name }}
                                         </div>
                                    </div>

                                    <div class="col-md-6">
                                        {{ register_form.errors.last_name }}
                                        <label for="name">Last Name:<span>*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            {{ register_form.last_name }}
                                        </div>
                                    </div>

                            </div>
                            
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-12">
                                {{ register_form.errors.email }}
                                <label for="email">Your email:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                	{{ register_form.email }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-6">
                                {{ register_form.errors.password }}
                                <label for="password">Your password:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-key"></i></span>
                                	{{ register_form.password }}
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                {{ register_form.errors.confirm_password }}
                                <label for="password2">Confirm password:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-key"></i></span>
                                	{{ register_form.confirm_password }}
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="pull-left">
                       		<span class="form-info"><span class="required">*</span> These fields are required</span>
                        </div>
                        
                        <div class="pull-right">
                            <button type="submit" id="send" class="btn btn-primary"><i class="fa fa-check"></i>Confirm</button>
                        </div>
                        
                    </fieldset>
                </form>
            </div>
        </div>
    </section>    
    <!-- ==========================
    	FORMS - END 
    =========================== -->
{% endblock %}