{% extends 'fundraiser/index.html' %}
{% load staticfiles %}

{% block checkout %}

<!-- ==========================
      ESHOP - START 
    =========================== -->
    <section class="content bg-color-2" id="eshop">
      
            
            <!-- Simple Invoice - START -->
    
    <div class="row">
        {% if not user.is_authenticated %}
        <div class="col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Create an Account to see this order?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="row">
                    {% include 'account/simple_sign_up.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
            <div class="text-center">
                <h2>Summary for Fundraiser Order #000{{ finalized_order.id }}</h2>
            </div>
            <hr>
            <div class="row">
                <!-- <div class="col-xs-12 col-md-3 col-lg-3 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Billing Details</div>
                        <div class="panel-body">
                            <strong>{{ finalized_order.profile.contact_person }}:</strong><br>
                            {{ finalized_order.shipment.address.street }}<br>
                            {{ finalized_order.shipment.address.city }}<br>
                            {{ finalized_order.shipment.address.state }}<br>
                            {{ finalized_order.shipment.address.zip_code }}<br>
                        </div>
                    </div>
                </div> -->

                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Payment Information</div>

                        <div class="panel-body">

                            {% if order_type == 'check' %}
                            <strong>type</strong> Check <br>
                            {% else %}
                            <strong>type</strong> Visa<br>
                            <strong>Card Name:</strong> Visa<br>
                            <strong>Card Number:</strong> ***** 442<br>
                            <strong>Exp Date:</strong> 09/2020<br>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Order Notes</div>
                        <div class="panel-body">
                            <strong>Notes:</strong> {{ finalized_order.shipment.comment }}<br>
                            <strong>Coupon:</strong> {{ finalized_order.is_discount }}<br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 pull-right">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Shipping Address</div>
                        <div class="panel-body">
                            <strong>{{ finalized_order.profile.contact_person }}:</strong><br>
                            {{ finalized_order.shipment.address.street }}<br>
                            {{ finalized_order.shipment.address.city }}<br>
                            {{ finalized_order.shipment.address.state }}<br>
                            {{ finalized_order.shipment.address.zip_code }}<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Item Name</strong></td>
                                    <td class="text-center"><strong>Item Price</strong></td>
                                    <td class="text-center"><strong>Jar Quantity</strong></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for selection in finalized_order.selections %}
                                <tr>
                                    <td>{{ selection.product.title }}</td>
                                    <td class="text-center">${{ selection.product.price }}</td>
                                    <td class="text-center">{{ selection.quantity }}</td>
                                    <td class="text-right">${{ selection.cost_in_dollars }}</td>
                                </tr>
                                {% endfor %}
                                
                                <tr>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow text-center"><strong>Subtotal</strong></td>
                                    <td class="highrow text-right">${{ finalized_order.total_cost_in_dollars }}</td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-center"><strong>Shipping</strong></td>
                                    <td class="emptyrow text-right">
                                        {% if finalized_order.free_shipping %}
                                        Free Shipping !
                                        {% else %}
                                        $30.00
                                        {% endif %}

                                    </td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"><!-- <i class="fa fa-barcode iconbig"></i> --></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-center"><strong>Total</strong></td>
                                    <td class="emptyrow text-right">${{ finalized_order.net_total_in_dollars }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


<style>
.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}
</style>

<!-- Simple Invoice - END -->
    </section>
    <!-- ==========================
      ESHOP - END 
    =========================== --> 

{% endblock %}