{% extends 'fundraiser/index.html' %}
{% load staticfiles %}

{% block checkout %}

<!-- ==========================
      ESHOP - START 
    =========================== -->
    <section class="content bg-color-2" id="eshop">
      
            
            <div class="shopping-cart">
                <h3>Item Summary</h3>
                
                {% for item in session_fundraiser.selections %}
                <!-- SHOPPING CART ITEM -->
                <div class="shopping-cart-item">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ settings.server }}/media/{{ item.product.image }}" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-5">
                            <h3>{{ item.product.title }}</h3>
                        </div>
                        <div class="col-md-1">
                            <p class="quantity">{{ item.quantity }}</p>
                        </div>
                        <div class="col-md-2">
                            <!-- <p class="small-price">$3 per jar</p> -->
                        </div>
                        <div class="col-md-2">
                            <p class="total-price">$3/jar</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                <!-- ==========================
      PORTFOLIO POST - START 
    =========================== -->
    
      
        <!-- BLOG POST -->
        <h3>Payment Method</h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fa fa-cc-visa"></i><i class="fa fa-cc-mastercard"></i><i class="fa fa-cc-amex"></i>Credit Card

        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {% include 'fundraiser/partials/_credit-card-form.html' %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Check
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <!-- ==========================
      ESHOP - START 
    =========================== -->
   
            
            <div class="shopping-cart">
                
                <form class="form-payment" action="shoppingcart-part3.html">
                    <fieldset>
                        <div class="row">
                          <div class="col-md-6">
                            <h3>Payment Method</h3>
                          </div>
                          <div class="col-md-6">
                          
                                <h3>Make Checks Payable to:</h3>
                                <h4>insert address here</h4>
                                
                            
                          </div>
                        </div>
                        <div class="row">
                            
                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="radio"><label><input type="radio" name="paymentmethods" id="paymentmethod4" value="option4">Check Payment</label></div>
                                </div>
                            </div>


                        </div>
                        
                       
                    </fieldset>
                </form>
            </div>
                        
        
    
    <!-- ==========================
      ESHOP - END 
    =========================== --> 

      </div>
    </div>
  </div>
  
</div>

        
    
    <!-- ==========================
      PORTFOLIO POST - END 
    =========================== --> 
                
                <!-- SHOPPING CART FOOTER -->
                <div class="shopping-cart-footer">
                    <div class="row">
                        <div class="col-md-5">
                            <form method="POST" action="{% url 'checkout' %}">
                              {% csrf_token %}
                                <fieldset>
                                    <div class="form-group">
                                      <label for="discount">Discount Code</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="discount" placeholder="Discount code" required>
                                            <span class="input-group-btn"><button class="btn btn-primary" type="button">Submit</button></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-md-2 col-md-offset-2 col-xs-7">
                            <p class="total-price-title">Subtotal:</p>
                            <p class="total-price-title">Shipping:</p>
                            <!-- <p class="total-price-title">Payment fee:</p> -->
                            <p class="total-price-title">Discount:</p>
                            <p class="total-price-title">Total:</p>
                        </div>
                        <div class="col-md-3 col-xs-5">
                            <p class="total-price-title text-right">${{ session_fundraiser.shipment.pre_tax_cost }}</p>
                            <p class="total-price-title text-right">${{ session_fundraiser.shipment.shipping_cost }}</p>
                            <!-- <p class="total-price-title text-right">$5</p> -->
                            <p class="total-price-title text-right">$0</p>
                            <p class="total-price">${{ session_fundraiser.shipment.total_cost_with_shipping }}</p>
                            
                        </div>
                        <div class="col-md-5 col-md-offset-7">
                            <form method="POST" action="{% url 'process_checkout' %}">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger btn-lg btn-block">Confirm Order</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                
            
        
    </section>
    <!-- ==========================
      ESHOP - END 
    =========================== --> 

{% endblock %}