{% extends 'fundraiser/index.html' %}
{% load staticfiles %}

{% block checkout %}
<!-- ==========================
      ESHOP - START 
    =========================== -->

    <section class="content bg-color-2" id="eshop">      
            <div class="shopping-cart">
                <h3>Need to tweak your order?</h3>
                <div class="dropdown" style='margin-bottom: 50px;'>

                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Order Navigation
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{% url 'choose_fundraiser' %}">Option</a></li>
                    <li><a href="{% url 'edit_shipment' session_shipment.id %}">Shipement</a></li>
                  </ul>
                </div>


                

                {% for item in session_fundraiser.selections %}
                <!-- SHOPPING CART ITEM -->
                <div class="shopping-cart-item">

                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ settings.server }}/media/{{ item.product.image }}" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-5">
                            <h3>{{ item.product.title }}</h3>
                        </div>
                        <div class="col-md-1">
                            <p class="quantity">{{ item.quantity }}</p>
                        </div>
                        <div class="col-md-2">
                            <!-- <p class="small-price">$3 per jar</p> -->
                        </div>
                        <div class="col-md-2">
                            <p class="total-price">$3/jar</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
    <!-- ==========================
      PORTFOLIO POST - START 
    =========================== -->
    
      
        <!-- BLOG POST -->
        <h3>Payment Method</h3>
        <div id='checkoutErrors' style="display: none;"class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Make sure to select a payment type!
        </div>

        <div class="shopping-cart">
                <form class="form-payment" id='payment-form 'action="{% url 'checkout' %}">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">

                                    <div class="radio"><label><input type="radio" name="paymentRadio" id="paymentmethod1" value="credit">Credit Card</label></div>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="radio"><label><input type="radio" name="paymentRadio" id="paymentmethod2" value="check">Check Payment</label></div>
                                </div>
                            </div>
                        </div>
                        
                        <div style='display:none' id='creditCardForm'>
                          {% include 'fundraiser/partials/_credit-card-form.html' %}
                        </div>
                        <div style='display:none' id='checkPaymentForm'>{% include 'fundraiser/partials/_check_description.html' %}</div>
                        
                    </fieldset>
                
            </div>
              

    
    
    <!-- ==========================
      PORTFOLIO POST - END 
    =========================== --> 

    <!-- ==========================
      COMMENT POST - START 
    =========================== -->
    
      
        <!-- BLOG POST -->
        <h3>Order Comment</h3>
        <div id='checkoutErrors' style="display: none;"class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Make sure to select a payment type!
        </div>

        <div class="shopping-cart">
                <form class="form-payment" id='payment-form 'action="{% url 'checkout' %}">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                  <textarea class="form-control" id='commentForm' rows="3"></textarea>
                                </div>
                            </div>
                            
                            
                        </div>
                        
                        <div style='display:none' id='creditCardForm'>
                          {% include 'fundraiser/partials/_credit-card-form.html' %}
                        </div>
                        <div style='display:none' id='checkPaymentForm'>{% include 'fundraiser/partials/_check_description.html' %}</div>
                        
                    </fieldset>
                
            </div>
              

    
    
    <!-- ==========================
      COMMENT POST - END 
    =========================== --> 
                
                <!-- SHOPPING CART FOOTER -->
                <div class="shopping-cart-footer">
                    <div class="row">
                        <div class="col-md-5">
                            
                                <fieldset>
                                    <div class="form-group">
                                      <label for="discount">Discount Code</label>
                                        <div class="input-group">
                                         {% include 'fundraiser/partials/_discount.html' %}
                                        </div>
                                    </div>
                                </fieldset>
                            
                        </div>
                        <div class="col-md-2 col-md-offset-2 col-xs-7">
                            <p class="total-price-title">Subtotal:</p>
                            <p class="total-price-title">Shipping:</p>
                            <!-- <p class="total-price-title">Payment fee:</p> -->
                            <p class="total-price-title">Discount:</p>
                            <p class="total-price-title">Total:</p>
                        </div>
                        <div class="col-md-3 col-xs-5">
                            <p class="total-price-title text-right">${{ session_fundraiser.shipment.pre_tax_cost_in_dollars }}</p>
                            <p class="total-price-title text-right">{{ session_fundraiser.shipment.shipping_cost }}</p>
                            <!-- <p class="total-price-title text-right">$5</p> -->
                            <p class="total-price-title text-right">${{ session_fundraiser.discount_in_dollars }}</p>
                            <p class="total-price">${{ session_fundraiser.net_total_in_dollars }}</p>
                            
                        </div>
                        <div class="col-md-5 col-md-offset-7">
                              <button id='pageSubmit'type="submit" class="btn btn-danger btn-lg btn-block">Confirm Order</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                
        
    </section>
    <!-- ==========================
      ESHOP - END 
    =========================== --> 

{% csrf_token %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey("{{ stripe_api_key.pwd }}");
</script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$(function(){
  
  var state;

  $('#paymentmethod1').change(function(e){
    $('#checkPaymentForm').hide()
    state = $('#paymentmethod1').val()
    if (state == 'credit') {
      $('#creditCardForm').show('slow')
    } 
  });

  $('#paymentmethod2').change(function(e){
    state = $('#paymentmethod2').val()
    if (state == 'check') {
      $('#creditCardForm').hide()
      $('#checkPaymentForm').show('slow')
    }else{
      $('#checkPaymentForm').slideUp();
    }
  });  

  function stripeResponseHandler(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // response contains id and card, which contains additional card details
        var token = response.id;
        
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" id="stipe-token" />').val(token));
        // and submit
        
        sendTokenToServer(token)


        // $form.get(0).submit();
      }
  };

  function getStripeFormValues(){
    var cc = {}
    cc['name']     = $('#ccNAME').val()
    cc['number']   = $('#ccNUM').val()
    cc['cvc']      = $('#ccCVC').val()  
    cc['expMonth'] = $('#ccEXPMONTH').val()
    cc['expYear']  = $('#ccEXPYEAR').val()

    return cc
  }

  function reportError(name,message){
    if (name == 'num'){
      $('.payment-errors-num').text(message).addClass('jmi-card-error');  
    }else if (name == 'exp'){
      $('.payment-errors-exp').text(message).addClass('jmi-card-error');
    }else if (name == 'cvc') {
      $('.payment-errors-cvc').text(message).addClass('jmi-card-error');
    }
    
  }

  function sendTokenToServer(token){
    var csrf_token = $("input[name=csrfmiddlewaretoken]").val()
    var comment    = $("#commentForm").val()
    $.ajax({
      type: "POST",
      url: "{% url 'process_fundraiser' %}",
      dataType: 'json',
      data: {
        csrfmiddlewaretoken: csrf_token,
        type: 'credit',
        token: token,
        comment: comment,
        amount: "{{ session_fundraiser.net_total }}",
        description: "{{ session_fundraiser.title }}" + " Fundraiser Receipt"
      },
      success: function(data){
        window.location = "{% url 'process_checkout' %}";
      },
    });
    return false;
  }


  $('#pageSubmit').click(function(e){
      e.preventDefault();
      var csrf_token = $("input[name=csrfmiddlewaretoken]").val()
      
      var error = false;

      if (state == 'credit') {
        
        cc = getStripeFormValues()
        
        if (!Stripe.card.validateCardNumber(cc['number'])){
          error = true;
          reportError('num','* The card number appears to be invalid!');
        }

        if (!Stripe.card.validateCVC(cc['cvc'])){
          error = true;
          reportError('cvc','* The CVC 3 digit code appears to be invalid!');
        }

        if (!Stripe.card.validateExpiry(cc['expMonth'],cc['expYear'])){
          error = true;
          reportError('exp','* The expiration date appears to be invalid!');
        }

        

        if (error){
          console.log('there was an error processing your request.')  
        }else{
          Stripe.card.createToken({
            number: cc['number'],
          
            exp_month: cc['expMonth'],
            exp_year: cc['expYear']
          }, stripeResponseHandler);
        }

      } else if (state == 'check') {
        var comment    = $("#commentForm").val()
        $.ajax({
          type: "POST",
          url: "{% url 'process_fundraiser' %}",
          dataType: 'json',
          data: {
            csrfmiddlewaretoken: csrf_token,
            type: 'check',
            comment: comment
          },
          success: function(data){
            window.location = "{% url 'process_checkout' %}";
          },
        });
        return false;
      } else {
          $('#checkoutErrors').show('slow');
      }
      
    })

});

</script>
{% endblock %}