{% extends 'fundraiser/index.html' %}

{% load staticfiles %}


{% block choose_fundraiser %}

<h1 class='text-center jmi-larger-header'>Choose a Fundraiser Type</h1>
			<!-- ==========================
    	PORTFOLIO - START 
    =========================== -->
    <section class="content bg-color-2 portfolio-col-3" id="portfolio">
    	
            <div class="row">
            		
            		{% for plan in plans %}
                <!-- PORTFOLIO ITEM -->
                
                <div class="col-md-4 portfolio-item design icons">
                	<article>

                    <div>
                        <div class='text-center'>
                          <img style='margin-top: 15px;' height='115' width='115' class='img-circle' src="{{ plan.get_absolute_url }}" class="center-block img-responsive" alt="">
                          <h3 class='jmi-large-header'>{{ plan.name }}</h3>
                          <h4><label>{{ plan.type }}</label></h4>
                        </div>

                        <div>
                            
                            <h4 style='color: black; font-weight: 800;' class='text-center'>Choose Option:</h4>
                            <hr>
                            <div class='text-center'>
                            
                              {% for option in plan.options.all %}
                              <form method='POST' action="{% url 'choose_fundraiser' %}">
                                {% csrf_token %}
                                <input type='hidden' name='plan' value='{{ plan.id }}'> 
                                <p><input type="radio" name="option" value="{{ option.slug }}" ><b style='margin-left: 5px;'>{{ option.title }}</b></p>
                              {% endfor %}

                              <button type='submit' style='margin-bottom: 15px;' class='btn btn-md btn-danger'>Choose Plan</button>
                            </form>
                            </div>

                            
                        </div>
                    </div>
                        
                      
                  </article>

                </div>

             		{% endfor %}
                
            </div>
            
        
    </section>
    <!-- ==========================
    	PORTFOLIO - END 
    =========================== --> 

			<!-- SHOPPING CART FOOTER -->
      <!-- <div class="shopping-cart-footer">
          <div class="row">
              <div class="col-md-3">
                  <a href="{% url 'create_shipment' %}" class="btn btn-danger btn-lg btn-block">Continue</a>
              </div>
              
          </div>
      </div> -->
     <!-- end shopping cart footer -->

{% endblock %}

