{% extends 'fundraiser/index.html' %}

{% load staticfiles %}


{% block choose_fundraiser %}

<h1 class='text-center jmi-larger-header'>Choose a Fundraiser Type</h1>
			<!-- ==========================
    	PORTFOLIO - START 
    =========================== -->
    <section class="content bg-color-2 portfolio-col-3" id="portfolio">
    	
            <div class="row">
            		
            		{% for type in types %}
                <!-- PORTFOLIO ITEM -->
                
                <div class="col-md-4 portfolio-item design icons">
                	<article>

                        <div class="overlay-wrapper">
                            <img src="{{ settings.SERVER }}/media/{{ type.image }}" class="center-block img-responsive" alt="">
                            <span class="overlay">
                              
                                <a href="{% url 'chosen_fundraiser_type' type.slug %}"><i class="fa fa-plus"></i></a>
                                
                            
                            </span>
                        </div>
                        
                        <div class="portfolio-item-description">
                            <h4 class='jmi-large-header text-center'>{{ type.title }}</h4>
                        </div>

                    </article>
                </div>

             		{% endfor %}
                
            </div>
            
        
    </section>
    <!-- ==========================
    	PORTFOLIO - END 
    =========================== --> 

			<!-- SHOPPING CART FOOTER -->
      <!-- <div class="shopping-cart-footer">
          <div class="row">
              <div class="col-md-3">
                  <a href="{% url 'create_shipment' %}" class="btn btn-danger btn-lg btn-block">Continue</a>
              </div>
              
          </div>
      </div> -->
     <!-- end shopping cart footer -->

{% endblock %}

