{% extends 'fundraiser/index.html' %}
{% load staticfiles %}

{% block choose_salsas %}

<h1 class='text-center'>Choose Salsas</h1>

<hr>

<form method="POST" action="{% url 'choose_salsas' %}">
	{% csrf_token %}
<div class="row">
	
  {% for category,products in product_set.items %}
  <div class="col-sm-12"><h1 style='padding-left: 5px;'>{{ category }}</h1></div>
  {% for product in products %}
 <!-- SHOPPING CART ITEM -->
 

  <div class="shopping-cart-item">
      <!-- <a href="#" class="delete"><i class="fa fa-times"></i></a> -->
      <input type='hidden' name='product' value="{{ product.id }}">
      <input type='hidden' name='type' value="{{ fundraiser_type.slug }}">
      
      <div class="row">
          <div class="col-md-2">
              <img src="{{ settings.server }}/media/{{ product.image }}" class="img-responsive" alt="">
          </div>
          <div class="col-md-5">
              <h3>{{ product.title }}</h3>
              <!-- <p>Code: #12542354</p> -->
          </div>
          <div class="col-md-2">
              <input style='width: 57px;' name='quantity' type="text" class="form-control" value="0">
          </div>
          <div class="col-md-2">
              <p class="small-price">Quantity in Jars</p>
          </div>
          <!-- <divd class="col-md-2">
              <p class="total-price">$120</p>
          </div> -->
      </div>

      
  </div>
  {% endfor %}
  {% endfor %}
  
</div>     

<div class="row">
<!-- SHOPPING CART FOOTER -->
      <div class="shopping-cart-footer">
          <div class="row">
              <div class="col-md-3">
                  <button id='submitButton' type="submit" class="btn btn-danger btn-lg btn-block">Continue</button>
                  <!-- <a href="{% url 'create_shipment' %}" class="btn btn-danger btn-lg btn-block">Continue</a> -->
              </div>
              
          </div>
      </div>
</div>
</form>
     <!-- end shopping cart footer -->

{% endblock %}