{% extends 'fundraiser/index.html' %}
{% load staticfiles %}

{% block choose_salsas %}

<h1 class='text-center jmi-larger-header'>Choose Salsas</h1>

<hr>

<form method="POST" action="{% url 'choose_salsas' %}">
	{% csrf_token %}
<div class="row">
	
  {% for category,products in product_set.items %}
  <div class="col-sm-12"><h1 style='padding-left: 5px;'>{{ category }}</h1></div>
  {% for product in products %}
 <!-- SHOPPING CART ITEM -->
 

  <div class="shopping-cart-item hidden-xs hidden-sm">
      <input type='hidden' name='product' value="{{ product.id }}">
      <input type='hidden' name='type' value="{{ fundraiser_type.slug }}">
      
      <div class="row">
          <div class="col-md-2">
              <img src="{{ settings.SERVER }}/media/{{ product.image }}" class="img-responsive" alt="">
          </div>
          <div class="col-md-5">
              <h3 class='text-center'>{{ product.title }}</h3>
              
          </div>
          <div class="col-md-2">
              <input style='width: 57px;' name='quantity' type="text" class="form-control" value="0">
          </div>
          <div class="col-md-2">
              <p class="small-price">Quantity in Jars</p>
          </div>
          <!-- <divd class="col-md-2">
              <p class="total-price">$120</p>
          </div> -->
      </div>    
  </div>

  <!-- mobile -->
   <div class="shopping-cart-item hidden-lg hidden-md">
      <input type='hidden' name='product' value="{{ product.id }}">
      <input type='hidden' name='type' value="{{ fundraiser_type.slug }}">
      
      <div class="row">
          <div style='margin-left: 70px;' class="col-xs-8">
            <img height='250' width='200' src="{{ settings.SERVER }}/media/{{ product.image }}" class="img-responsive" alt="">
          </div>
      </div>    

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h4 class='text-center'>{{ product.title }}</h4>
        </div>
      
      </div>
      
      <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
          <div style='margin-left: 15px;'><input style='width: 57px' name='quantity' type="text" class="form-control text-center" value="0"></div>
          
      </div>   

      </div>
  </div>
  {% endfor %}
  {% endfor %}
  
</div>     

<div class="row">
<!-- SHOPPING CART FOOTER -->
      <div class="shopping-cart-footer">
          <div class="row">
              <div class="col-md-3">
                  <button id='submitButton' type="submit" class="btn btn-danger btn-lg btn-block">Continue</button>
                  <!-- <a href="{% url 'create_shipment' %}" class="btn btn-danger btn-lg btn-block">Continue</a> -->
              </div>
              
          </div>
      </div>
</div>
</form>
     <!-- end shopping cart footer -->

{% endblock %}