{% extends 'fundraiser/index.html' %}
{% load staticfiles %}

{% block about_fundraiser %}
		<!-- ==========================
    	FORMS - START 
    =========================== -->
		<section>
			<h1>Tell us about your fundraiser</h1>
      <form method="POST" action="{% url 'describe_fundraiser' %}">
        {% csrf_token %}
        
        <div class="form-group">
          {{ form.title.errors }}
          <label for="exampleInputEmail1">Fundraiser Title:</label>
          {{ form.title }}
        </div>			  

        <div class="form-group">
          {{ form.organization.errors }}
			    <label for="exampleInputEmail1">Organization Name:</label>
			    {{ form.organization }}
			  </div>

        
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Contact First Name:</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Contact First Name">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Contact Last Name:</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Contact Last Name">
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Contact Phone:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Phone Number">
              </div>
            </div>
        </div> -->


			  <div class="form-group">
          {{ form.description.errors }}
			    <label for="exampleInputEmail1">Tell Us a little About Your Fundraiser:</label>
			    {{ form.description }}
			  </div>

        <!-- <div class="form-group">
          <label for="exampleInputFile">(Optional) Photo Upload</label>
          <input type="file" id="exampleInputFile">
        </div> -->

			<!-- SHOPPING CART FOOTER -->
      <div class="shopping-cart-footer">
          <div class="row">
              <div class="col-md-3">
                  <button type='submit' class="btn btn-danger btn-lg btn-block">Continue</button>
              </div>
              
          </div>
      </div>
      </form>
     <!-- end shopping cart footer -->      
    </section>    
    <!-- ==========================
    	FORMS - END 
    =========================== -->
{% endblock %}