{% extends 'fundraiser/index.html' %}

{% load staticfiles %}


{% block shipment %}

<h1>Tell us about your fundraiser</h1>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Organization Name:</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Organization Name">
			  </div>
			  
			  <div class="form-group">
			    <label for="exampleInputEmail1">Organization Name:</label>
			    <textarea class="form-control" rows="3" placeholder='Tell us something if you want to'></textarea>
			  </div>

			<!-- SHOPPING CART FOOTER -->
      <div class="shopping-cart-footer">
          <div class="row">
              <div class="col-md-3">
                  <!--<button type="submit" class="btn btn-danger btn-lg btn-block">Continue</button>-->
                  <a href="{% url 'choose_fundraiser' %}" class="btn btn-danger btn-lg btn-block">Continue</a>
              </div>
              
          </div>
      </div>
     <!-- end shopping cart footer -->
{% endblock %}

