{% extends 'account/profile/index.html' %}
{% load staticfiles %}

{% block fundraiser %}

<!-- ==========================
        MEMBER PROFILE - START 
    =========================== -->      
    <section class="content bg-color-2" id="profile-single">
        <div class="container">
            <h1 class='jmi-larger-header'>{{ fundraiser.profile.organization }}</h1>
            
            <div class="row">
                
                <!-- Profile -->
                <div class="col-sm-4">
                    <div class="profile-body">
                        <h3>Fundraiser:</h3>
                        <ul class="list-group">
                            
                            <li class='list-group-item text-left'>Title: {{ fundraiser.title }}</li>
                            <li class='list-group-item text-left'>Type: {{ fundraiser.type }} </li>
                            <li class='list-group-item text-left'>Description: {{ fundraiser.description }} </li>
                            <li class='list-group-item text-left'>Comments: {{ fundraiser.get_comment }} </li>
                            <li class='list-group-item text-left'>
                                <div>Shipping Address:</div>
                                <div>
                                    {{ fundraiser.shipment.address.title }} <br>
                                    {{ fundraiser.shipment.address.street }} <br>
                                    {{ fundraiser.shipment.address.city }} <br>
                                    {{ fundraiser.shipment.address.state }},
                                    {{ fundraiser.shipment.address.zip_code }}
                                </div>
                            </li>
                        </ul>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="profile-body">
                        <h3>Receipt:</h3>
                        <ul class="list-group">
                            <li class='list-group-item text-left'>Jars: {{ fundraiser.shipment.total_jars }}</li>
                            <li class='list-group-item text-left'>Cost of Jars: ${{ fundraiser.total_cost_in_dollars }}</li>
                            <li class='list-group-item text-left'>Payment: {{ fundraiser.get_payment_type }}</li>
                            <li class='list-group-item text-left'>Shipping: {% if fundraiser.free_shipping %}{{ fundraiser.shipment.shipping_cost }}{% else %}{{ fundraiser.shipment.shipping_cost }}{% endif %}</li>
                            <!-- <li class='list-group-item text-left'>Total Cost w/Shipping: ${{ fundraiser.shipment.total_cost_with_shipping }}</li>
                            <li class='list-group-item text-left'>Shipping status: </li> -->
                        </ul>
                        <br>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="profile-body">
                        <h3>Selections:</h3>
                        <ul class="list-group">
                            {% for selection in fundraiser.selections %}
                                <li class='list-group-item text-left'>

                                    <div style='float: left; margin-right: 15px;'><img width='80' height='55' src="{{ selection.product.get_absolute_url }}"></div>
                                    <div>Salsa: {{ selection.product.title }}</div>
                                     <div>Qty: {{ selection.quantity }}</div>

                                </li>
                                
                            {% endfor %}
                        </ul>
                        <br>
                    </div>
                </div>

                                
            </div>
            <a href="{% url 'profile_show' %}" class='btn btn-danger' style='min-width: 150px;'>back</a>
        </div>
    </section>
    <!-- ==========================
        MEMBER PROFILE - END 
    =========================== -->
    
    <!-- ==========================
        SEPARATOR - START 
    =========================== -->
    <section class="content content-separator text-center" id="separator1">
        <div class="container">
            
        </div>
    </section>
    <!-- ==========================
        SEPARATOR - END 
    =========================== -->

{% endblock %}