{% extends 'account/profile/index.html' %}
{% load staticfiles %}

{% block show %}
	<!-- ==========================
    	MEMBER PROFILE - START 
    =========================== -->      
    <section class="content bg-color-2" id="profile-single">
    	<div class="container">
            <div class="row">
            
        <section class="content bg-color-2 services3" id="services">
        <div class="container">
            {% if user_profiles %}
            <h1 style='margin-bottom: 15px;' class='jmi-larger-header'>{{ request.user }} Profiles:</h1 style=>
            <div class="row">
                

                {% for profile in user_profiles %}

                <!-- Service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        {% if profile.org_photo %}
                        <img src="{{ profile.org_photo.thumbnail.url }}" style='margin-bottom: 15px;' class="img-circle" alt="Circular Image">
                        
                        {% endif %}
                    
                        <div class="service-body">
                            <ul class='list-group' style='min-height: 300px;'>
                                <li class='list-group-item text-left'><label>NAME:</label> {{ profile.contact_person }}</li>
                                <li class='list-group-item text-left'><label>ORGANIZATION:</label> {{ profile.organization }}</li>
                                <li class='list-group-item text-left'><label>PHONE:</label> {{ profile.phone_number }}</li>
                                <li class='list-group-item text-left'><label>EMAIL:</label> {{ profile.email }}</li>
                                <li class='list-group-item text-left'><label>ADDRESS:</label> <br>
                                    {{ profile.contact_person }}<br>
                                    {{ profile.address.street }}<br>
                                    {{ profile.address.city }}<br>
                                    {{ profile.address.state }}<br>
                                    {{ profile.address.zip_code }}<br>
                                </li>
                                <li class='list-group-item text-left'><label>FUNDRAISERS: </label> {{ profile.fundraisers.count }}</li>
                            </ul>

                            <a style='width: 75px;' href="{% url 'profile_detail' profile.slug %}"class='btn btn-danger'>Details</a>
                            <a style='margin-left: 15px; width: 75px;' href="{% url 'profile_edit' profile.slug %}"class='btn btn-default'>Edit</a>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                {% endif %}
                
                
                                
            </div>
        </div>
    </section>
                
                
                                
            </div>
        </div>
    </section>
    <!-- ==========================
    	MEMBER PROFILE - END 
    =========================== -->
{% endblock %}