
.jmi-card-error {
    color: #D8000C;
    background-color: #FFBABA;
}

.jmi-large-header {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  margin-top: 20px;
  margin-left: 75px;
  margin-bottom: 15px;
 }
