{% extends 'product/index.html' %}
{% load staticfiles %}

{% block show_all_salsas %}
		
    <!-- ==========================
    	PORTFOLIO - START 
    =========================== -->

    <h1 class='jmi-larger-header text-center'>Our Salsas</h1>

    <section class="content bg-color-2 portfolio-col-4" id="portfolio">
            <div class="row">
                {% for product in products %}
                <!-- PORTFOLIO ITEM -->
                <div class="col-md-4 col-xs-6 portfolio-item design icons">
                	<article>
                        <div class="overlay-wrapper">
                            <img height='400' width='400' src="{{ product.get_absolute_url }}" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-item-description">
                            <div class="row"><h3 class='text-center'>{{ product.title }}</h3></div>
                            <p>{{ product.description }}</p>
                        </div>
                    </article>
                </div>
                {% endfor %}

            </div>
            
        
    </section>
    <!-- ==========================
    	PORTFOLIO - END 
    =========================== --> 
        
{% endblock %}