{% extends 'dashboard/index.html' %}
{% load staticfiles %}
{% block dashboard %}

<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="{% url 'dashboard_index' %}" class="navbar-brand"><span class="navbar-logo"></span> JMIF Dashboard</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->
				
				<!-- ########################################################## -->
				<!-- Top Bar -->
				<!-- ########################################################## -->

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter keyword" />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</li>
					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="fa fa-bell-o"></i>
							<span class="label">{{ dashboard.fundraisers_that_need_shipped.count }}</span>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications ({{ dashboard.fundraisers_that_need_shipped.count }})</li>
                            {% for shipment in dashboard.fundraisers_that_need_shipped %}
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="{{ shipment.fundraiser.profile.get_absolute_url }}" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">{{ shipment.fundraiser.organization }}</h6>
                                        <div class="text-muted f-s-11">{{ shipment.fundraiser.created }}</div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                            
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
						</ul>
					</li>
					{{ session.get_first_profile }}
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img src="{{ session.get_first_profile_image_absoulute_url }}" alt="" /> 
							<span class="hidden-xs">{{ session.user }}</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="javascript:;">Edit Profile</a></li>
							<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
							<li><a href="javascript:;">Calendar</a></li>
							<li><a href="javascript:;">Setting</a></li>
							<li class="divider"></li>
							<li><a href="{% url 'auth_logout' %}">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->
		

		<!-- ########################################################## -->
		<!-- LEFT NAV BEGIN -->
		<!-- ########################################################## -->

		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="image">
							<a href="javascript:;"><img src="{{ session.logo }}" alt="" /></a>
						</div>
						<div class="info">
							Dashboard
							<small>Manage Fundraisers</small>
						</div>
					</li>
				</ul>
				<!-- end sidebar user -->

				<!-- ########################################################## -->
				<!-- LEFT NAV Contents -->
				<!-- ########################################################## -->

				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Navigation</li>
					
					<!-- nav item -->
					<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-2x fa-money"></i>
						    <span>Fundraisers</span>
					    </a>
						<ul class="sub-menu">
						    <li class="active"><a href="#fundraisers/create" data-toggle="ajax">Create</a></li>
						    <li class="active"><a href="#fundraisers" data-toggle="ajax">List</a></li>
						</ul>
					</li>
					<!-- end nav item -->


					<!-- nav item -->
					
					<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-2x fa-institution"></i>
						    <span>Organizations</span>
					    </a>
						<ul class="sub-menu">
								<li class="active"><a href="#organizations/create" data-toggle="ajax">Create</a></li>
						    <li class="active"><a href="#organizations" data-toggle="ajax">List</a></li>
						</ul>
					</li>


					<!-- end nav item -->
					
				
					

					<!-- ########################################################## -->
					<!-- END CONTENTS -->
					<!-- ########################################################## -->
			    <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		

		<!-- ########################################################## -->
		<!-- AJAX -->
		<!-- ########################################################## -->
		<!-- begin #ajax-content -->
		<!-- <div id="ajax-content"></div> -->
		<!-- end #ajax-content -->

		<!-- ########################################################## -->
		<!-- CONTENT SECTION  -->
		<!-- ########################################################## -->

		<div id="content" class="content">
			<h1 class="page-header"><a href="{% url 'dashboard_index' %}">Dashboard</a></h1>
			<notification-panel></notification-panel>
		  {% block fundraisers %}{% endblock %}
		</div>
		
        <!-- begin theme-panel -->
        	<!-- {% include 'dashboard/partials/_dashboard-theme-panel.html' %} -->
        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	
{% endblock %}