{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title id="page-title">JMIF | Dashboard</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<link rel="shortcut icon" href="{% static 'jmi-images/jmi-tab-logo.ico' %}">
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static 'assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/theme/default.css' %}" rel="stylesheet" id="theme" />
	<link href="{% static 'assets/css/theme/red.css' %}" rel="stylesheet">
	<link href="{% static 'css/data-table.css' %}" rel='stylesheet' type='text/css'>
	
	<!-- file upload -->
	



	<link href="{% static 'assets/plugins/bootstrap3-editable/css/bootstrap-editable.css' %}" rel="stylesheet">

	<link href="{% static 'css/alertify.core.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/alertify.default.css' %}" rel="stylesheet" type="text/css">
  <!-- combo box -->
  
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>

	{% if messages %}
   {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  
 	<router></router>
	{% block dashboard %}{% endblock %}
	{% block login %}{% endblock %}

	<!-- ================== BEGIN BASE JS ================== -->
	
	<!-- underscore -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

	<!-- moment -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
	

	<script src="{% static 'assets/plugins/jquery/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="{% static 'assets/crossbrowserjs/html5shiv.js' %}"></script>
		<script src="{% static 'assets/crossbrowserjs/respond.min.js' %}"></script>
		<script src="{% static 'assets/crossbrowserjs/excanvas.min.js' %}"></script>
	<![endif]-->
	<script src="{% static 'assets/plugins/jquery-hashchange/jquery.hashchange.min.js' %}"></script>
	<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>

	<!-- file upload -->

	


	<!-- ================== END BASE JS ================== -->
	<script src="{% static 'js/alertify.min.js' %}"></script>

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'assets/js/apps.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	

	<!-- riot -->
  <script src="{% static 'riot-tags/store.js' %}"></script>
  <script src="{% static 'js/custom/js-cookie.js' %}"></script>
  <script src="{% static 'js/custom/riot.js' %}"></script>



 	<!-- riot tags -->

 	<!-- router -->
 	<script type='riot/tag' src="{% static 'riot-tags/router.tag' %}"></script>
		
	<!-- forms -->
	<script type='riot/tag' src="{% static 'riot-tags/forms/textfield.tag' %}"></script>
	<script type='riot/tag' src="{% static 'riot-tags/forms/select.tag' %}"></script>
	<!-- formas:organizationType -->
	<script type='riot/tag' src="{% static 'riot-tags/forms/organizations/type-create-button.tag' %}"></script>
	<script type='riot/tag' src="{% static 'riot-tags/forms/organizations/create-contact-modal.tag' %}"></script>
	<script type='riot/tag' src="{% static 'riot-tags/forms/organizations/search-contact-form.tag' %}"></script>

	<!-- address -->
	<script type='riot/tag' src="{% static 'riot-tags/address/address-create-modal.tag' %}"></script>

  <!-- fundraisers -->
  <script type='riot/tag' src="{% static 'riot-tags/fundraisers/fundraiser-list.tag' %}"></script>
  <script type='riot/tag' src="{% static 'riot-tags/fundraisers/fundraiser-detail.tag' %}"></script>
  <script type='riot/tag' src="{% static 'riot-tags/fundraisers/fundraiser-create.tag' %}"></script>

  <!-- organizations -->
	<script type='riot/tag' src="{% static 'riot-tags/organizations/organizations-list.tag' %}"></script>
	<script type='riot/tag' src="{% static 'riot-tags/organizations/organizations-create.tag' %}"></script>
	
	
  <!-- fundraiser form -->
  <script type='riot/tag' src="{% static 'riot-tags/fundraisers/forms/fundraiser-form.tag' %}"></script>
  <script type='riot/tag' src="{% static 'riot-tags/fundraisers/forms/fundraiser-profile.tag' %}"></script>
  <script type='riot/tag' src="{% static 'riot-tags/fundraisers/forms/fundraiser-shipment.tag' %}"></script>
  <script type='riot/tag' src="{% static 'riot-tags/fundraisers/forms/fundraiser-selections.tag' %}"></script>
  <script type='riot/tag' src="{% static 'riot-tags/fundraisers/forms/fundraiser-payment.tag' %}"></script>
  <script type='riot/tag' src="{% static 'riot-tags/fundraisers/forms/email-fundraiser-confirm.tag' %}"></script>
  <script type='riot/tag' src="{% static 'riot-tags/fundraisers/forms/payment-status.tag' %}"></script>

  <!-- profile -->
 	<script type='riot/tag' src="{% static 'riot-tags/account/profile-detail.tag' %}"></script>
 	<script type='riot/tag' src="{% static 'riot-tags/account/fundraisers-tab.tag' %}"></script>

  <!-- dashboard -->
  <script type='riot/tag' src="{% static 'riot-tags/dashboard/notification-panel.tag' %}"></script>
  <script type='riot/tag' src="{% static 'riot-tags/dashboard/search.tag' %}"></script>  	
  <script type='riot/tag' src="{% static 'riot-tags/dashboard/page-results.tag' %}"></script>  	
  <script type='riot/tag' src="{% static 'riot-tags/dashboard/fileupload.tag' %}"></script>  	
  
  <!-- notifications -->
	<script type='riot/tag' src="{% static 'riot-tags/notifications/errors.tag' %}"></script>  
	<script type='riot/tag' src="{% static 'riot-tags/notifications/message.tag' %}"></script>  

	<!-- products -->
	<script type='riot/tag' src="{% static 'riot-tags/products/product-list.tag' %}"></script>  
	

	<!-- 
	<script data-main="{% static 'riot-tags/main' %}" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.js"></script>
	-->


  <script type="text/javascript">
  	
    var bus = riot.observable();
    token = Cookies.get('csrftoken')
    
    var store = new STORE('{{ server }}',token)
    var router = new Router()

    riot.route.stop()
   	riot.route.start(true);

    riot.mount('router',{bus:bus,store:store,router:router})
    riot.mount('notification-panel',{bus:bus,store:store,router:router})
    
  </script>



	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>


