{% extends 'base.html' %}
{% load staticfiles %}

{% block fundraising_steps %}
	{% include 'layouts/partials/_fundraising-steps.html' %}
{% endblock %}

{% block fundraiser_desc %}
	{% include 'layouts/partials/_fundraiser_desc.html' %}
{% endblock %}

{% block introduction %}
	{% include 'layouts/partials/_introduction.html' %}
{% endblock %}

{% block salsas %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			{% include 'layouts/partials/_salsas.html' %}
		</div>
	</div>
{% endblock %}

{% block features %}
	{% include 'layouts/partials/_fundraising-steps.html' %}
{% endblock %}

{% block pricing %}
	{% include 'layouts/partials/_fundraising-pricing-tables.html' %}
{% endblock %}

{% block jumbotron %}
	{% include 'layouts/partials/_jumbotron.html' %}
{% endblock %}

{% block top_main_page %}
	{% include 'layouts/partials/_top-main-page.html' %}
{% endblock %}