{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>Jose Madrid Salsa Fundraising Inc. | Salsa Fundraising | Jose Madrid Salsa | JMSF Fundraising </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="jose madrid, jose madrid salsa fundraising, jose madrid fundraising, healthy fundraising">
    <meta name="description" content="Jose Madrid Salsa Fundraising, a healthy alternative fundraising company out of Columbus Ohio.">


    {% include 'layouts/partials/_css-and-header.html' %}
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
</head>


<body class="color-red">
  <!-- ==========================
      FACEBOOK - SHARE BUTTON 
    =========================== -->
  <div id="fb-root"></div>
     
    <div id="page-wrapper" class="">
    
    <!-- ==========================
      HEADER - START
    =========================== -->
    {% include 'layouts/partials/_header.html' %}
    <!-- ==========================
      HEADER - END 
    =========================== -->
    {% if messages %}

      {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <!-- ==========================
      AUTH - START 
    =========================== -->
    {% block login %}{% endblock %}
    {% block sign_up %}{% endblock %}
    <!-- ==========================
      AUTH - END 
    =========================== -->

    <!-- ==========================
      PROFILE 
    =========================== -->
    {% block profile %}{% endblock %}
    <!-- ==========================
      PROFILE  - END
    =========================== -->

    <!-- ==========================
      PRODUCTS 
    =========================== -->
    {% block products %}{% endblock %}
    <!-- ==========================
      PRODUCTS - END 
    =========================== -->

    <!-- ==========================
      SALSAS
    =========================== -->
    {% block top_main_page %}{% endblock %}
    <!-- ==========================
      SALSAS - END
    =========================== -->
    {% block plans %}{% endblock %}
    <!-- ==========================
      SALSAS
    =========================== -->
    {% block salsas %}{% endblock %}
    <!-- ==========================
      SALSAS - END
    =========================== -->
     {% block start_fundraiser %}{% endblock %}
    
     {% block password_reset %}{% endblock %}
    <!-- ==========================
      FEATURES - START 
    =========================== -->
    {% block fundraiser_desc %}{% endblock %}
    {% block features %}{% endblock %}
    <!-- ==========================
      FEATURES - END 
    =========================== -->
    <!-- ==========================
      INTRODUCTION - START 
    =========================== -->
    {% block introduction %}{% endblock %}
    <!-- ==========================
      INTRODUCTION - END 
    =========================== -->
    <!-- ==========================
      FOOTER - START 
    =========================== -->
    {% include 'layouts/partials/_footer.html' %}
    <!-- ==========================
      FOOTER - END 
    =========================== -->
   
    </div>
   
    <!-- ==========================
      JS 
    =========================== -->        
    {% include 'layouts/partials/_js.html' %}
</body>
</html>