{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    {% include 'layouts/partials/_css-and-header.html' %}
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
</head>


<body class="color-red">
  <!-- ==========================
      FACEBOOK - SHARE BUTTON 
    =========================== -->
  <div id="fb-root"></div>

  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
     
    <div id="page-wrapper" class="">
    
    <!-- ==========================
      HEADER - START
    =========================== -->
    {% include 'layouts/partials/_header.html' %}
    <!-- ==========================
      HEADER - END 
    =========================== -->
    {% if messages %}

      {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <!-- ==========================
      AUTH - START 
    =========================== -->
    {% block login %}{% endblock %}
    {% block sign_up %}{% endblock %}
    <!-- ==========================
      AUTH - END 
    =========================== -->

    <!-- ==========================
      PROFILE 
    =========================== -->
    {% block profile %}{% endblock %}
    <!-- ==========================
      PROFILE  - END
    =========================== -->

    <!-- ==========================
      PRODUCTS 
    =========================== -->
    {% block products %}{% endblock %}
    <!-- ==========================
      PRODUCTS - END 
    =========================== -->

    <!-- ==========================
      SALSAS
    =========================== -->
    {% block top_main_page %}{% endblock %}
    <!-- ==========================
      SALSAS - END
    =========================== -->

    <!-- ==========================
      SALSAS
    =========================== -->
    {% block salsas %}{% endblock %}
    <!-- ==========================
      SALSAS - END
    =========================== -->
     {% block start_fundraiser %}{% endblock %}
    

    <!-- ==========================
      FEATURES - START 
    =========================== -->
    {% block features %}{% endblock %}
    <!-- ==========================
      FEATURES - END 
    =========================== -->
    <!-- ==========================
      INTRODUCTION - START 
    =========================== -->
    {% block introduction %}{% endblock %}
    <!-- ==========================
      INTRODUCTION - END 
    =========================== -->
    <!-- ==========================
      FOOTER - START 
    =========================== -->
    {% include 'layouts/partials/_footer.html' %}
    <!-- ==========================
      FOOTER - END 
    =========================== -->
   
    </div>
   
    <!-- ==========================
      JS 
    =========================== -->        
    {% include 'layouts/partials/_js.html' %}
</body>
</html>